<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @property.location %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @property.transportation %>
</p>

<p>
  <strong>Land area:</strong>
  <%= @property.land_area %>
</p>

<p>
  <strong>Lang rights:</strong>
  <%= @property.lang_rights %>
</p>

<p>
  <strong>Land purpose:</strong>
  <%= @property.land_purpose %>
</p>

<p>
  <strong>City planning:</strong>
  <%= @property.city_planning %>
</p>

<p>
  <strong>Use area:</strong>
  <%= @property.use_area %>
</p>

<p>
  <strong>Inpei:</strong>
  <%= @property.inpei %>
</p>

<p>
  <strong>Yoseki:</strong>
  <%= @property.yoseki %>
</p>

<p>
  <strong>Present condition:</strong>
  <%= @property.present_condition %>
</p>

<p>
  <strong>Hand over:</strong>
  <%= @property.hand_over %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @property.notes %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
